

<h1> My Blog </h1>

<%@posts.each do |x|%>
	
	<%postNum = @posts.index(x)%>
	<a href="/post_details/<%=postNum%>/2"> <h2> <%= x.title %> </h2></a>
	<p> <%= x.author %> </p>
	<p> <%= x.date %> </p>
	<p> <%= x.category %> </p>
<%end%>

<a href="/new_post"><p>Create New Post</p></a>

<iframe src="//giphy.com/embed/RtjrwMDabH1pm" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/what-down-turn-RtjrwMDabH1pm">via GIPHY</a></p>